@import url("https://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400");

body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/*background #f1f1f1*/
html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
table {
  border-spacing: 0;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 10px rgba(17,34,51,0.08);
  -moz-box-shadow: 1px 1px 10px rgba(17,34,51,0.08);
  -o-box-shadow: 1px 1px 10px rgba(17,34,51,0.08);
  -ms-box-shadow: 1px 1px 10px rgba(17,34,51,0.08);
  box-shadow: 1px 1px 10px rgba(17,34,51,0.08);
}
tbody {
  background: #eee;
}
tbody th {
  font-size: 12px;
  min-width: 60px;
  line-height: 30px;
  background: #eee;
  COLOR: #007AFF;
  cursor: pointer;
  position: relative;
/*text-align: left;*/
  border: 1px solid #ddd;
  border-bottom: none;
  border-right: none;
  padding-left: 5px;
  font-weight: 500;
}
tbody th i {
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: 18px;
  color: #aaa;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
tbody th i:hover {
  color: #dd0a4a;
}
tbody th:hover {
  background: #ddd;
  font-weight: 600;
}
tbody th:hover i {
  opacity: 1;
}
tbody th.active {
  background: #d3d5d7;
}
tbody TD {
  padding: 0;
  border-spacing: 0;
  background: #fafafa;
  border: 1px solid #eee;
  border-bottom: none;
  border-right: none;
}
tbody div {
  line-height: 24px;
  font-size: 12px;
  padding: 2px;
  text-align: center;
  color: #333;
}
tbody .addRC {
  background: #f5f5f5;
  cursor: pointer;
}
tbody .addRC:hover {
  background: #007AFF;
  color: #fff;
}
tbody .addRC:hover i {
  color: #fff;
}
tbody .addRC i {
  position: relative;
  opacity: 1;
  top: 0;
  left: auto;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  font-size: 14px;
  color: #007AFF;
}
tbody .addRC i:hover {
  color: #fff;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  outline: none;
  background: #fff;
  border: 2px solid #6af;
  color: #000;
  font-weight: 600;
}
